<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2" >
                        <form name="loginForm" novalidate>
                        <div class="card-block">
                            <h1>Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" ng-model="user.username" class="form-control" name="username" placeholder="Username" required >
                                <span style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$error.required">User name is required</span>
                                
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" ng-model="user.password" class="form-control" placeholder="Password" name="password" required>
                                <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Password is required</span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button ng-click="login()" type="button"  ng-disabled="loginForm.$invalid" class="btn btn-primary px-2">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
